<!DOCTYPE html>
<html>
  <head>
    <title>Reliably Deploying Rails Applications Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Visit <a href="https://leanpub.com/deploying_rails_applications">Leanpub</a> for the book.
    <%= yield %>
  </body>
</html>
